*{padding: 0; margin: 0;}

#boyd-header{
    height: 60vh;
background-image: url(gun.jpg);
opacity: 0.9;
background-size: cover;
background-position: center;
background-attachment: fixed;
}
.horizontal_list{
    list-style: none;
    padding-top: 10px;
    text-align: center;
    list-style: none;


}
.horizontal_list li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 900;
    font-size: 2rem;
    padding: 12px 8px;
    

}
.horizontal_list li a{
    text-decoration: none;
    color: rgb(253, 253, 253);
    font-family: 'Courier New', Courier, monospace;
  

    
}
.horizontal_list li a:hover{
    background-color: rgb(12, 11, 11);
    border: 1px solid wheat;
    border-radius: 8px;
}
.name_socil-container{
  
    padding: 15px;
    position: absolute;
    top: 30%;
    font-size: 2.5rem;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.text-center{
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    
}
.social_icon {
    padding: 10px;

}
.social_icon ul{
    list-style: none;

}
.social_icon ul li{
    display: inline-block;
    color: aliceblue;
    margin-top: 20%;
    padding-left: 10%;
}

#about{
    height: auto;
    
    width:100%;
    position: relative;
}
#my_image{
    height: 20rem;
    width: 20rem;
    margin: auto;
    margin-top: -15vh
}
#my_image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;

    box-shadow: 1px 1px 10px 2px lightgrey;    border-collapse: collapse;
}

#about p{
    padding: 10px;
    width: 70%;
    text-align: center;
    color: grey;
    align-items: ;
    line-height: 28px;
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;

    margin: auto;
}   